
:root{
    --main-color: #F9F0F3;
    --lively-pink: #B9466C;
    --washed-out-pink: #f3e2e8;
    --plum: #6F2A41;
    --almost-white: #FCF9FA;
    --violet-pink: #D99CB0;
    --mid-pink: #E8C1CE;
    --dreamy-pink: #F1D9E1;
}

.side-menu-holder{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 25%;
    background-color: var(--almost-white);
}
.centring-panel{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 85%;
    height: 90%;
}
.side-menu-panel{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 50%;
}
.bottom-panel-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 20%;
}
.options{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 50%;
}
.side-menu-button{
    width: 100%;
    height: 6vh;
    border: none;
    border-radius: 10px;
    font-size: 2.5vh;
    font-weight: bold;
    color: var(--plum);
    text-align: justify;
    padding-left: 1vw;

}
.default-button{
    background-color: var(--almost-white);
}
.default-button:hover{
    background-color: var(--washed-out-pink);
}
.home-button{
    background-color: var(--violet-pink);
}
.content-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 75%;
}
.msg{
    width: 80%;
    text-align: left;
}
.log-out-btn{
    background-color: var(--lively-pink);
    color: white;
    border: none;
    border-radius: 20px;
    width: 80%;
    height: 4.5vh;
    font-size: 2.3vh;
    text-align: center;
}
.centring-main{
    display:flex;
    flex-direction: column;
    width: 90%;
    height: 90%;
}
.choice-panel-holder{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%
}
.choice-panel{
    display: flex;
    flex-direction: row;
    background-color: var(--mid-pink);
    height: 75%;
    width: 90%;
    border-radius: 20px;
}
.choice{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.choice:hover{
    background-color: var(--dreamy-pink);
}
.choice h3{
    margin-top: 15%;
    font-family: Giulia, sans-serif;
    font-size: 3vh;
}
.left{
    border-radius: 20px 0 0 20px;
}
.right{
    border-radius: 0 20px 20px 0;
}
.visits-nav{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 5%;
}
.nav-btn{
    width: 50%;
    border: none;
    color: var(--plum);
    font-family: 'Giulia', sans-serif;
    font-size: 2vh;
    background-color: var(--mid-pink);
}
.nav-btn:hover{
    background-color: var(--violet-pink);
}
.forms-longest{
    height: 62%;
}
.calendar-holder{
    height: 50%;
    width: 90%;
}
/*Overriden react big calendar styles*/
.rbc-today {
    background-color: var(--violet-pink) !important;
}
.rbc-off-range-bg{
    background-color: var(--washed-out-pink) !important;
}