:root{
    --main-color: #F9F0F3;
    --lively-pink: #B9466C;
    --washed-out-pink: #f3e2e8;
    --plum: #6F2A41;
    --almost-white: #FCF9FA;
    --violet-pink: #D99CB0;
    --mid-pink: #E8C1CE;
    --dreamy-pink: #F1D9E1;
}
.pet-holder{
    display: flex;
    flex-direction: column;
    height: 80%;
    width: 100%;
    justify-content: center;
}
.pet-holder ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 2vw;
    margin: 0 auto;
    width: 100%;
    height: 80%;
}
.pet-holder li{
    width: calc(33.333% - 2vw);
}
.pet{
    min-height: 25vh;
    max-width: 24vw;
}
.pet-name{
    margin: 2% 0 1% 10%;
    font-weight: bold;
    font-family: 'Giulia', sans-serif;
    color: var(--plum);
}
.pet-description{
    margin: 0 0 1% 10%;
    color: black;
    font-weight: normal;
}
.choice-panel-shrink{
    height: 70%;
    width: 70%;
}
.choice-grow{
    width: 80%;
    background-color: var(--dreamy-pink);
    justify-content: center;
}
.choice-grow h3{
    margin-top:0;
}
.choice-shrink{
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 20%;
}
.forms-longer{
    height: 55%;
}
.response-p{
    margin-left: 5%;
    font-size: 2.5vh;
    color:var(--plum);
}
/*.choice-response{*/
/*    display: flex;*/
/*    flex-direction: row;*/

/*}*/
/*.success-paw{*/
/*    height: 70%;*/
/*    margin-right: 0;*/
/*}*/