:root{
    --main-color: #F9F0F3;
    --lively-pink: #B9466C;
    --washed-out-pink: #f3e2e8;
    --plum: #6F2A41;
    --almost-white: #FCF9FA;
    --violet-pink: #D99CB0;
    --mid-pink: #E8C1CE;
    --dreamy-pink: #F1D9E1;
}
.calendar-holder{
    height: 50%;
    width: 90%;
}
.rbc-today {
    background-color: var(--violet-pink);
}

.rbc-off-range-bg{
    background-color: var(--washed-out-pink);
}
.rbc-event{
    background-color: var(--plum);
}